
/* ------------------------------------------ comman tags ------------------------------------------ */


body
{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

    
}

h1
{  
    font-family: 'Merriweather', serif;

    color: rgb(0, 85, 113);
    font-size: 3.75rem;
}
h2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: rgb(0, 85, 113);
}
h3
{
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 85, 113);
    font-size: 1.2rem;
}
h4
{
    margin-top: 0;
}
h3
{
    font-family: 'Montserrat', sans-serif;
}

p
{
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    font-size: 1rem;
    
}


/* ------------------------------------------ id's ------------------------------------------ */
#name
{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Sacramento', cursive;
    
}

#s-image
{
    width: 200;
    height: 200;
    margin: 50 auto 20 auto;
}
#menu-img
{
    width: 30px;
    position:absolute;
    left: 10px;
    top :10px;
    
}
#education-img
{
    width: 150px;
    text-align: center;
    float: left;
    margin-right: 30px;
}
#skill-img
{
    margin: 0 auto 0 30px;
    width: 150px;
    float: right;
    padding-right: 150px;
}

#hobby-img
{
    width: 150px;
    text-align: center;
    float: left;
    margin-right: 30px;
}




/* ------------------------------------------ class ------------------------------------------ */


.background-div
{
    background-color: skyblue; 
    height: 450px;
    margin-bottom: 50;
}



.education-content
{
    width: 60%;
    text-align: left;
    margin: 0 auto 0 auto;
    padding-top: 50px;
} 
.skill-content
{
    width: 60%;
    text-align: left;
    margin: 50px auto 0 auto;
    padding-left: 350px;
}
.hobby-content
{
    width: 60%;
    text-align: left;
    margin: 50px auto 0 auto;
}



.skill-div
{
    margin-top: 50px;
}

.list-style
{
    font-family: 'Montserrat', sans-serif;
}

.div-heading-text
{
    font-size: 1.4rem;
}
